.newWorkout {
    text-align: center;
    border: 3px solid black;
    width: 30%;
    margin: auto;
    padding: 10px;
}

.workouts {
    width: 220px;
    height: 135px;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    text-align: center;
    float: left;
}

h1 {
    text-align: center;
}

input {
    margin: 10px auto;
    text-align: center;
}

button {
    margin: 10px auto;
    background-color: chocolate;
    color: white;
    width: 100px;
    height: 25px;
    text-align: center;
    transition: all 1s;
}

button:hover {
    background-color: cornflowerblue;
    color: black;
    transform: scale(1.1);
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) inset rgba(0,0,0,0.15) 0px -10px 20px;
}

a {
    text-decoration: none;
    margin: 10px auto;
    margin-bottom: 50px;
    transition: all 1s;
}

a:hover {
    transform: scale(1.1);
    color: purple;
}